.body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  color: #333;
  transition: all 0.3s, color 0.3s;
}
/*
.header-container {
    text-align: center;
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    transition: all 0.3s, color 0.3s;
}

.flex-container_2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
}

.flex-items_2 {
    position: relative;
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: calc(33.33% - 20px);
    align-self: auto;
    order: 0;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    transition: all 0.3s, color 0.3s;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    gap: 10px;
    padding: 10px;
}

.picture {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.dark-mode {
    background-color: #333;
    color: #fff;
    transition: all 0.3s, color 0.3s;
}
.dark-mode .flex-items_2 {
    background-color: #333;
    color: #fff;
}
.dark-mode .grid-item {
    color: #fff;
    background-color: #333;
}

.picture {
    width: 100%;
    max-width: 200px;
    height: auto;
}

li {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.card-button {
    position: absolute;
    top: 0;
    right: 0;
}

@media screen and (max-width: 600px) {
    .flex-items_2 {
        flex-basis: calc(100% - 20px);
    }
}
 */
