.wrapper {
  padding: 10px;
  margin: 20px;
  justify-content: center;
  gap: 10px;
}

.button_add,
.button_reduce {
  background-color: #007bff;
  color: #fff;
  width: 100px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.counter {
  font-size: large;
  & span {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
}
