.cardWrapper {
  background-color: #0789f3fd;
  border: 1px solid #ddd;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
.cardText {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}
.cardSpan {
  font-size: 16px;
  color: #fff;
}
